.circlephoto
{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.rectanglephoto
{
    height: 200px;
    width: 300px;
    border-radius: 10px;
}

.squarephoto{
    height: 200px;
    width: 200px;
    border-radius: 10px
}

.trianglephoto{
    width: 200px; /* Adjust size as needed */
  height: 200px; /* Adjust size as needed */
  object-fit: cover;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}

